<%include include/header.html%>

<div class="container">
    <div class="pull-left">
        <h3 class="text-info">I am sorry.The page you are looking for cannot be found.</h3>

        <a href="/" class="error__link error__link-dark">return to the home page</a>
    </div>
    <div class="pull-right">
        <img class="img-responsive img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/NY-404.svg/1500px-NY-404.svg.png" alt="404"/>
    </div>

</div>


<%include include/footer.html%>